<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<p>
<strong>Author:</strong>
<%= link_to @article.user.name, @article.user %>
| <%= link_to 'Edit', edit_article_path(@article) %>
</p>

<%= simple_format(@article.body) %>

