<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<%= link_to 'Add a new Author', new_user_path %>

<ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user %> has published <%= pluralize(user.articles.length, "article") %> since <%= user.created_at.strftime("%-d %B %Y") %></li>
    <% end %>
  </ul>