<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @user.created_at.strftime("%-d %B %Y") %>
</p>

<% if @user.articles.length > 0 %>
<p>
  <strong>Articles:</strong>
  <ul>
  <% @user.articles.each do |article| %>
    <li><%= link_to article.title, article %> (<%= article.updated_at.strftime("%-d %B %Y") %>)</li>
  <% end %>
  </ul>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>