<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Articles:</strong>
  <ul>
  <% @user.articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
